<div ng-controller="app.controllers.views.user.profile as vm">
    <h3>{{vm.userObject.login}}</h3>
    <br />
    <div class="row">
        <div class="col-xs-4" ng-repeat="picture in vm.pictures" ng-show="picture.assignedUser.id == vm.userObject.id">
            <a href="" data-ng-click="goToPicture(picture)">
                <h2><span class="glyphicon glyphicon-plus" style="z-index: 5; position: absolute; top: 285px; left: 283px;"></span></h2>
            </a>
            <img class="img-rounded" width="300" src="data:{{picture.pictureMimeType}};base64,{{picture.pictureData}}" />
            <br />
            <h4><span class="picture-picturename">{{picture.pictureName}}</span></h4>
            <span class="picture-dateadded">{{picture.description}}</span>
            <br />
            <span class="picture-dateadded">{{picture.tags}}</span>
            
        </div>
    </div>
</div>