<div ng-controller="app.controllers.views.picture.picture as vm">
    <h1>@string.Format("Загруженные изображения")</h1>

    <ul class="list-group" ng-repeat="picture in vm.pictures">
        <div class="list-group-item">
            <span class="picture-picturename">{{picture.pictureName}}</span>
            <span class="picture-dateadded">{{picture.dateAdded}}</span>
        </div>
    </ul>
</div>